html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

*{
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.header {
    height: 300px;
}

.header-container {
    background-color: gray;
}

a {
    color:black
}

.photo {
    float: left;
    max-height: 250px;
    border-radius: 50%;
    padding: 25px;
}

.header__information {
    float: left;
    width: 70%;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 10px;
}


.personal-info {
    display: block;
    padding-top: 20px;
    width: 80%;
    font-size: 1.8rem;
}

.date {
    font-style: italic;
}

.center-block {
height: 400px;
}

.aside {
    background-color: rgb(180, 180, 180);
    float: left;
    width: 275px;
    height: 375px;
    padding-top: 25px;
    padding-left: 25px;
}

.main {
    float: left;
    height: 375px;
    padding-top: 25px;
    padding-left: 25px;
}

.main__education, .main__languages, .main__skills, .aside__contacts, .aside__skills {
    padding-bottom: 15px;
}

